<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="HeaderBar.css" rel="stylesheet" >
</head>
<body>
    <header>
        <nav class="box-shadow-lg">
            <h1 class="text-3xl font-bold underline">
                Portfolio of Majik Hudson
            </h1>
            <ul>
                <li>
                   Home
                </li>
                <li>
                   Case Studies 
                </li>
                <li>
                   About
                </li>
                <li>
                   Contact
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
        </section>
        
    </main>
    <footer>
        <p>&copy; 2025 My Portfolio</p>
    </footer>
</body>
</html>